/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gui "gui.*";
@namespace gui1 "net.prjcanlendar.gui.*";
@namespace form "net.prjcanlendar.form.*";
@namespace NhanVien "net.prjcanlendar.component.NhanVien.*";
@namespace NVien "net.prjcanlendar.component.NVien.*";
@namespace view "net.prjcanlendar.component.view.*";
@namespace component "net.prjcanlendar.component.*";
@namespace Menu "net.prjcanlendar.component.Menu.*";
@namespace form1 "net.prjcanlendar.component.form.*";

.maunen{
	fillColor:#4285F4;
}

.listnoneBorder{
	borderVisible:"false" ;
}

/*.maunenhomnay{
	fillColor:#FF99FF;
}*/

component|Header s|Label{
	fontWeight: bold;
	color: #FFFFFF;
}

Menu|Menu s|Label{	
	fontSize: 15px;
	fontFamily: Arial;
	
}
Menu|Menu .nodeMenu {
	fontWeight: bold;
	paddingLeft: 10px;
}

Menu|Menu .childMenu{
	paddingLeft: 20px;
}

s|List.noneBorder{
	borderVisible:"false" 
}

form1|FormYCNghiPhep s|Label{
	fontWeight: bold;
}
form1|XemYCNghiPopup  s|Label{
	fontWeight: bold;
}
NVien|NhanVienNewHeader s|Label{
	fontWeight: bold;
}
NVien|NhanVienNewContent s|Label{
	fontWeight: bold;
	color: #4C4C4C;
}
form1|FormTaoTaiKhoanPopup s|Label{
	fontWeight: bold;
}

