/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gui "gui.*";
@namespace view "net.prjcanlendar.component.view.*";
@namespace NVien "net.prjcanlendar.component.NVien.*";
@namespace LichSuNghi "net.prjcanlendar.component.LichSuNghi.*";
@namespace PheDuyet "net.prjcanlendar.component.PheDuyet.*";
@namespace TaiKhoan "net.prjcanlendar.component.TaiKhoan.*";
@namespace calendar "net.prjcanlendar.component.calendar.*";
@namespace fprj "http://f-project.net/xmlns/fprj/2013";

NVien|NhanVienNewView{
	skinClass: ClassReference("net.prjcanlendar.component.NVien.skin.NhanVienNew");
}

NVien|NhanVienNewCotentView{
	skinClass:ClassReference("net.prjcanlendar.component.NVien.skin.NhanVienNewContentSkin");
}

fprj|CalendarSubColumnHeader{
	skinClass: ClassReference("net.prjcanlendar.component.YCNGhiPhep.skin.skins.SubColumnHeaderSkin")
}

fprj|CalendarColumnHeader {
	skinClass: ClassReference("net.prjcanlendar.component.YCNGhiPhep.skin.skins.ColumnHeaderSkin");
}

fprj|CalendarRowHeader {
	skinClass: ClassReference("net.prjcanlendar.component.YCNGhiPhep.skin.skins.RowHeaderSkin");
}

fprj|Calendar
{
	skinClass:ClassReference("net.prjcanlendar.component.YCNGhiPhep.skin.skins.CalendarSkin");
}
calendar|CalendarView
{
	skinClass:ClassReference("net.prjcanlendar.component.calendar.skin.CalendarViewSkin");
}
LichSuNghi|LichSuNghiContentView
{
	skinClass:ClassReference("net.prjcanlendar.component.LichSuNghi.skin.LichSuNghiContent");
}
PheDuyet|PheDuyetContentView
{
	skinClass:ClassReference("net.prjcanlendar.component.PheDuyet.skin.PheDuyetContent");
}
TaiKhoan|TaiKhoanContentView
{
	skinClass:ClassReference("net.prjcanlendar.component.TaiKhoan.skin.TaiKhoanContent");
}

NVien|NhanVienView
{
	skinClass:ClassReference("net.prjcanlendar.component.NVien.skin.NhanVienViewSkin");
}