/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gui "gui.*";
@namespace gui1 "net.prjcanlendar.gui.*";
@namespace form "net.prjcanlendar.form.*";
@namespace NhanVien "net.prjcanlendar.component.NhanVien.*";

.maunen{
	fillColor:#4285F4;
}

/*.maunenhomnay{
	fillColor:#FF99FF;
}*/

gui1|Header s|Label{
	fontWeight: bold;
	color: #FFFFFF;
}

gui1|Menu s|Label{	
	fontSize: 15px;
	fontFamily: Arial;
	
}
gui1|Menu .nodeMenu {
	fontWeight: bold;
	paddingLeft: 10px;
}

gui1|Menu .childMenu{
	paddingLeft: 20px;
}

s|List.noneBorder{
	borderVisible:"false" 
}

form|FormYCNghiPhep s|Label{
	fontWeight: bold;
}
form|XemYCNghiPopup  s|Label{
	fontWeight: bold;
}
NhanVien|NhanVienNewHeader s|Label{
	fontWeight: bold;
}
NhanVien|NhanVienNewContent s|Label{
	fontWeight: bold;
	color: #4C4C4C;
}
form|FormTaoTaiKhoanPopup s|Label{
	fontWeight: bold;
}

