/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace gui "gui.*";

.maunen{
	fillColor:#6600CC;
}

/*.maunenhomnay{
	fillColor:#FF99FF;
}*/

gui|Header s|Label{
	fontWeight: bold;
	color: #FFFFFF;
}

gui|Menu s|Label{	
	fontSize: 15px;
	fontFamily: Arial;
	
}
gui|Menu .nodeMenu {
	fontWeight: bold;
	paddingLeft: 10px;
}

gui|Menu .childMenu{
	paddingLeft: 20px;
}

s|List.noneBorder{
	borderVisible:"false" 
}

gui|FormYCNghiPhep s|Label{
	fontWeight: bold;
}
gui|XemYCNghiPopup  s|Label{
	fontWeight: bold;
}

